/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 1px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.sidebar-header {
    float: left;
}

.new-convo-btn {
    float: right;
    margin-top: 10px;
}

.nav-sidebar {
    clear: both;
}

.profile-container {
    margin-bottom: 20px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.profile-img-container {
    float: left;
    margin-top: 6px;
}

.profile-detail-container {
    float: right;
}

.middle-pane {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.conversation-header {
    flex: 0 1 auto;
}

.conversation-content {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 50px
}

.conversation-entry {
    position: relative;
    padding: 10px 0 20px 0;
    border-top: 1px solid #eee;
}

.conversation-entry:first-child {
    border-top: none;
}

.conversation-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 0;
}

.conversation-text {
    margin-left: 60px;
}

.conversation-reply {
    position: absolute;
    bottom: 0;
    left: 0;
}

html, body, .container-fluid, .row {
    height: 100%;
}

.middle-pane {
    display: none;
}

.middle-pane.is-active {
    display: flex;
}

.resource-file {
    height: 120px;
    width: 100px;
    padding: 15px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    margin: 40px 20px 0 20px;
    position: relative;
    cursor: pointer;
}

.resource-file-icon {
    font-size: 36px;
    color: #666;
}

.resource-file-operations {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    color: #666;
}

.resource-file-operations span {
    padding: 0 6px;
}

.resource-file:hover .resource-file-operations {
    display: block;
}




/* Music Panel General */

.music-panel-container {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
    padding-left: 25px;
    padding-right: 25px;
}

.music-panel-header {
    margin-bottom: 25px;
}

.music-panel-header .music-info {
    margin-left: 15px;
}

.music-panel-add {
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* Music Panel Comments */

.music-panel-comments {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 100px
}

[class^=comments-entry-] {
    margin-bottom: 5px;
    display: none;
    width: 100%;
}

.comments-wrapper {
    padding: 10px 0 15px 15px;
    border: 1px solid #aaa;
    background-color: white;
    border-radius: 5px;
}

.comments-timestamp {
    padding-left: 0;
}

.comments-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: right;
    margin-right: 15px;
    margin-left: 20px;
}

.comments-text {
    margin-bottom: 0;
    margin-right: 85px;
}



/* Music Player */

.music-player {
    margin-bottom: 76px;
}

.music-player .action-controls {
    margin-top: 24px;
    padding: 0;
}

.music-player .action-controls .btn {
    padding: 12px 18px;
    font-size: 28px;
    line-height: 1;
    border-radius: 6px;
}



/* Music Player Slider */

.slider-handle.custom {
    background: orange;
    width: 2px;
    height: 100px;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: 0;
}

.slider.slider-horizontal {
    width: 100%;
}

.slider.slider-horizontal .slider-track {
    height: 50px;
    background-image: url("../img/waveform.png");
    background-size: 100% 100%;
}

.slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: '';
    color: #726204;
}

.slider-selection {
    background: transparent;
    background-color:rgba(255,99,71,0.2);
    border-radius: 4px 0 0 4px;
}



/* Music Player Comments Bar */

.comments-hook {
    position: absolute;
}

#comments-bar {
    margin-top: 40px;
    position: relative;
}

#comments-bar button:focus {
    outline: none;
    background-color: #ffbb11;
}

.btn-circle {
    width: 10px;
    height: 10px;
    text-align: center;
    padding: 3px 0;
    border-radius: 15px;
    background-color: #ffbb11;
    border: none;
}
